/*
 * Put your site wide CSS here.
 * Then autoload it in with config/autoload.php
 */

/* Mogul CSS Overrides */
#MHeader {
	overflow: visible;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	z-index: 9000;
}

#MHeader li {
	padding-left: .35em;
	padding-right: .35em;
}

#MHeader li ul {
	z-index: 3000;
}

#MHeader li ul li {
	padding-left: 0;
	padding-right: 0;
}

#MHeader li ul a {
	color: #000000;
	margin: 0;
	padding: 10px 15px;
}

#MHeader.MDropdown {
	margin: 0px;
}

/* Global Overrides */
footer {
	background: #141414;
	bottom: 0;
	color: #ffffff;
	position: fixed;
	text-align: right;
	width: 100%;
}

section {
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
}

section:hover {
	border: 1px solid #969696;
	background: #f0f0f0;
}

/* Application Secific Classes */
.indent {
	margin-left: 40px;
}

.library-title {
	font-size: 1.2em;
	font-weight: bold;
}

.library {
	background: #ffffff;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	width: 150px;
	float: left;
	margin: 10px;
	text-align: center;
}

.library-version-1211 {
	background: #960000;
	border-radius: 3px;
	box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
	color: #ffffff;
	font-size: 1.5em;
	padding: 4px;
}

.library-version-1305 {
	background: #963c00;
	border-radius: 3px;
	box-shadow: inset 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
	color: #ffffff;
	font-size: 1.5em;
	padding: 4px;
}
