/*
 * Put your site wide CSS here.
 * Then autoload it in with config/autoload.php
 */

code {
	background: #323232;
	border-radius: 3px;
	color: #ffffff;
	padding: 3px;
}

footer {
	background: #141414;
	bottom: 0;
	color: #ffffff;
	position: fixed;
	text-align: right;
	width: 100%;
}

section {
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	margin-bottom: 30px;
	padding: 10px;
}

section:hover {
	border: 1px solid #969696;
	background: #f0f0f0;
}

.indent {
	margin-left: 40px;
}

.library-title {
	font-size: 1.2em;
	font-weight: bold;
}

.library {
	background: #ffffff;
	width: 150px;
	float: left;
	margin: 10px;
	text-align: center;
}

.library:hover {
	background: #B4D2F0;
}
